<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Title -->
      <title>MuskyMulisha | @ViewData["Title"]</title>
      
      <!-- Required Meta Tags Always Come First -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      
      <!-- Favicon -->
      <link rel="shortcut icon" href="~/favicon.ico">
      
      <!-- Google Fonts -->
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
      
      <!-- CSS Global Compulsory -->
      <link rel="stylesheet" href="~/assets/vendor/bootstrap/bootstrap.min.css">
      
      <!-- CSS Global Icons -->
      <link rel="stylesheet" href="~/assets/vendor/icon-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="~/assets/vendor/icon-line/css/simple-line-icons.css">
      <link rel="stylesheet" href="~/assets/vendor/icon-etlinefont/style.css">
      <link rel="stylesheet" href="~/assets/vendor/icon-line-pro/style.css">
      <link rel="stylesheet" href="~/assets/vendor/icon-hs/style.css">
      <link rel="stylesheet" href="~/assets/vendor/animate.css">
      <link rel="stylesheet" href="~/assets/vendor/dzsparallaxer/dzsparallaxer.css">
      <link rel="stylesheet" href="~/assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
      <link rel="stylesheet" href="~/assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
      <link rel="stylesheet" href="~/assets/vendor/slick-carousel/slick/slick.css">
      <link rel="stylesheet" href="~/assets/vendor/hs-megamenu/src/hs.megamenu.css">
      <link rel="stylesheet" href="~/assets/vendor/hamburgers/hamburgers.min.css">
      
      <!-- Revolution Slider -->
      <link rel="stylesheet" href="~/assets/vendor/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
      <link rel="stylesheet" href="~/assets/vendor/revolution-slider/revolution/css/settings.css">
      <link rel="stylesheet" href="~/assets/vendor/revolution-slider/revolution/css/layers.css">
      <link rel="stylesheet" href="~/assets/vendor/revolution-slider/revolution/css/navigation.css">
      
      <!-- CSS Unify -->
      <link rel="stylesheet" href="~/assets/css/unify-core.css">
      <link rel="stylesheet" href="~/assets/css/unify-components.css">
      <link rel="stylesheet" href="~/assets/css/unify-globals.css">
      
      <!-- CSS Customization -->
      <link rel="stylesheet" href="~/assets/css/custom.css">
   </head>
   <body>
      <main>
         <!-- Header -->
         <header id="js-header" class="u-header u-header--static cust-bg-dark-block">
            <div class="u-header__section u-header__section--light g-bg-gray-dark-v1 g-transition-0_3 g-py-10">
               <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
                  <div class="container">
                  
                     <!-- Responsive Toggle Button -->
                     <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-minus-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                     <span class="hamburger hamburger--slider">
                     <span class="hamburger-box">
                     <span class="hamburger-inner"></span>
                     </span>
                     </span>
                     </button>
                     <!-- End Responsive Toggle Button -->
                     
                     <!-- Logo -->
                     <a asp-page="/Index" class="navbar-brand d-flex">
                       
                       <img src="~/assets/img/marketing/logo-banner-text.svg" style="width: 180px; height: auto"/>
                     </a>
                     <!-- End Logo -->
                     
                     <!-- Navigation -->
                     <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
                        <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                           <!-- Home -->
                           <li class="nav-item g-mx-10--lg g-mx-15--xl @((ActivePage)ViewData["ActivePage"] == ActivePage.Home ? "active" : string.Empty)">
                              <a asp-page="/Index" class="nav-link g-py-7 g-px-0">Home</a>
                           </li>
                           
                           <!-- Home -->
                           <li class="nav-item g-mx-10--lg g-mx-15--xl @((ActivePage)ViewData["ActivePage"] == ActivePage.About ? "active" : string.Empty)">
                              <a asp-page="/About" class="nav-link g-py-7 g-px-0">About</a>
                           </li>
                           
                           <!-- Home -->
                           <li class="nav-item g-mx-10--lg g-mx-15--xl @((ActivePage)ViewData["ActivePage"] == ActivePage.Rates ? "active" : string.Empty)">
                             <a asp-page="/Rates" class="nav-link g-py-7 g-px-0">Rates</a>
                           </li>
                          
                           <!-- Home -->
                           <li class="nav-item g-mx-10--lg g-mx-15--xl @((ActivePage)ViewData["ActivePage"] == ActivePage.Contact ? "active" : string.Empty)">
                              <a asp-page="/Contact" class="nav-link g-py-7 g-px-0">Contact</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </nav>
            </div>
         </header>
         <!-- End Header -->
         
         @RenderBody()
         
         <!-- Footer -->
         <div class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-40 cust-bg-dark-block">
           <div class="container cust-bg-dark-block">
             <div class="row">
             
               <!-- Footer Content -->  
               <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg cust-bg-dark-block">
                 <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                   <h2 class="u-heading-v2__title h6 text-uppercase mb-0">About Us</h2>
                 </div>
         
                 <p>About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.</p>
         
                 <ul class="list-inline mb-0">
                   <li class="list-inline-item g-mr-10">
                     <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6" href="#!">
                       <i class="fa fa-facebook"></i>
                     </a>
                   </li>
                   <li class="list-inline-item g-mr-10">
                     <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6" href="#!">
                       <i class="fa fa-instagram"></i>
                     </a>
                   </li>
                   <li class="list-inline-item g-mr-10">
                     <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6" href="#!">
                       <i class="fa fa-twitter"></i>
                     </a>
                   </li>
                   <li class="list-inline-item g-mr-10">
                     <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6" href="#!">
                       <i class="fa fa-dribbble"></i>
                     </a>
                   </li>
                 </ul>
               </div>
               <!-- End Footer Content -->
               
               <!-- Footer Content -->
                 <div class="col-lg-3 col-md-6">
                    <img src="~/assets/img/marketing/logo.svg"/>
                 </div>
               <!-- End Footer Content -->
         
               <!-- Footer Content -->
               <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                 <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                   <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Sitemap</h2>
                 </div>
         
                 <nav class="text-uppercase1">
                   <ul class="list-unstyled g-mt-minus-10 mb-0">
                     <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                       <h4 class="h6 g-pr-20 mb-0">
                         <a asp-page="/Index" class="g-color-white-opacity-0_8 g-color-white--hover">Home</a>
                         <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                       </h4>
                     </li>
                     <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                       <h4 class="h6 g-pr-20 mb-0">
                         <a asp-page="/About" class="g-color-white-opacity-0_8 g-color-white--hover">About</a>
                         <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                       </h4>
                     </li>
                     <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                       <h4 class="h6 g-pr-20 mb-0">
                         <a asp-page="/Rates" class="g-color-white-opacity-0_8 g-color-white--hover">Rates</a>
                         <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                       </h4>
                     </li>
                     <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                       <h4 class="h6 g-pr-20 mb-0">
                         <a asp-page="/FAQ" class="g-color-white-opacity-0_8 g-color-white--hover">FAQ</a>
                         <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                       </h4>
                     </li>
                     <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                       <h4 class="h6 g-pr-20 mb-0">
                         <a asp-page="/Contact" class="g-color-white-opacity-0_8 g-color-white--hover">Contact</a>
                         <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                       </h4>
                     </li>
                   </ul>
                 </nav>
               </div>
               <!-- End Footer Content -->
         
               <!-- Footer Content -->
               <div class="col-lg-3 col-md-6">
                 <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                   <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Our Contacts</h2>
                 </div>
         
                 <address class="g-bg-no-repeat g-font-size-12 mb-0">
                   <!-- Location -->
                   <div class="d-flex g-mb-20">
                     <div class="g-mr-10">
                       <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                         <i class="fa fa-map-marker"></i>
                       </span>
                     </div>
                     <p class="mb-0">Primary Northern IL
                       <br>Bay of Green Bay
                     </p>
                   </div>
                   <!-- End Location -->
         
                   <!-- Phone -->
                   <div class="d-flex g-mb-20">
                     <div class="g-mr-10">
                       <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                         <i class="fa fa-phone"></i>
                       </span>
                     </div>
                     <p class="mb-0">(+847) 553 8355</p>
                   </div>
                   <!-- End Phone -->
         
                   <!-- Email and Website -->
                   <div class="d-flex g-mb-20">
                     <div class="g-mr-10">
                       <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                         <i class="fa fa-globe"></i>
                       </span>
                     </div>
                     <p class="mb-0">
                       <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:MuskyMulisha@gmail.com">MuskyMulisha@gmail.com</a>
                       <br>
                       <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">www.MuskyMulisha.com</a>
                     </p>
                   </div>
                   <!-- End Email and Website -->
                 </address>
               </div>
               <!-- End Footer Content -->
               
             </div>
           </div>
         </div>
         <!-- End Footer -->
         
         <!-- Copyright Footer -->
         <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
           <div class="container">
             <div class="row">
               <div class="col-md-8 align-self-center text-center text-md-left g-mb-10 g-mb-0--md">
                 <div class="d-lg-flex">
                   <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2021 © All Rights Reserved. Website created by DevNull LLC.</small>
                 </div>
               </div>
             </div>
           </div>
         </footer>
      <!-- End Copyright Footer -->
      
      </main>
      
      <div class="u-outer-spaces-helper"></div>
      
      <!-- JS Global Compulsory -->
      <script src="~/assets/vendor/jquery/jquery.min.js"></script>
      <script src="~/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
      <script src="~/assets/vendor/popper.js/popper.min.js"></script>
      <script src="~/assets/vendor/bootstrap/bootstrap.min.js"></script>
      
      <!-- JS Implementing Plugins -->
      <script src="~/assets/vendor/appear.js"></script>
      <script src="~/assets/vendor/slick-carousel/slick/slick.js"></script>
      <script src="~/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
      <script src="~/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
      <script src="~/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
      <script src="~/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
      
      <!-- JS Revolution Slider -->
      <script src="~/assets/vendor/revolution-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
      <script src="~/assets/vendor/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>
      <script src="~/assets/vendor/revolution-slider/revolution-addons/slicey/js/revolution.addon.slicey.min.js"></script>
      <script src="~/assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
      <script src="~/assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
      <script src="~/assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
      <script src="~/assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
      <script src="~/assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
      <script src="~/assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
      <script src="~/assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
      <script src="~/assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
      <script src="~/assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
      
      <!-- JS Unify -->
      <script src="~/assets/js/hs.core.js"></script>
      <script src="~/assets/js/components/hs.carousel.js"></script>
      <script src="~/assets/js/components/hs.header.js"></script>
      <script src="~/assets/js/helpers/hs.hamburgers.js"></script>
      <script src="~/assets/js/components/hs.tabs.js"></script>
      <script src="~/assets/js/components/hs.counter.js"></script>
      <script src="~/assets/js/components/hs.go-to.js"></script>
      
      <!-- JS Customization -->
      <script src="~/assets/js/custom.js"></script>
      
      @RenderSection("Scripts", required: false)
      
      <div id="resolutionCaution" class="text-left g-max-width-600 g-bg-white g-pa-20" style="display: none;">
         <button type="button" class="close" onclick="Custombox.modal.close();">
         <i class="hs-icon hs-icon-close"></i>
         </button>
         <h4 class="g-mb-20">Screen resolution less than 1400px</h4>
      </div>
   
      <div id="copyModal" class="text-left modal-demo g-bg-white g-color-black g-pa-20" style="display: none;"></div>
   
      <!-- CSS -->
      <link rel="stylesheet" href="~/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
      <link rel="stylesheet" href="~/assets/vendor/chosen/chosen.css">
      <link rel="stylesheet" href="~/assets/vendor/prism/themes/prism.css">
      <link rel="stylesheet" href="~/assets/vendor/custombox/custombox.min.css">
      <!-- End CSS -->
   
      <!-- Scripts -->
      <script src="~/assets/vendor/chosen/chosen.jquery.js"></script>
      <script src="~/assets/vendor/image-select/src/ImageSelect.jquery.js"></script>
      <script src="~/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="~/assets/vendor/custombox/custombox.min.js"></script>
      <script src="~/assets/vendor/clipboard/dist/clipboard.min.js"></script>
   
      <!-- Prism -->
      <script src="~/assets/vendor/prism/prism.js"></script>
      <script src="~/assets/vendor/prism/components/prism-markup.min.js"></script>
      <script src="~/assets/vendor/prism/components/prism-css.min.js"></script>
      <script src="~/assets/vendor/prism/components/prism-clike.min.js"></script>
      <script src="~/assets/vendor/prism/components/prism-javascript.min.js"></script>
      <script src="~/assets/vendor/prism/plugins/toolbar/prism-toolbar.min.js"></script>
      <script src="~/assets/vendor/prism/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
   <!-- End Prism -->
   
      <script src="~/assets/js/components/hs.scrollbar.js"></script>
      <script src="~/assets/js/components/hs.select.js"></script>
      <script src="~/assets/js/components/hs.modal-window.js"></script>
      <script src="~/assets/js/components/hs.markup-copy.js"></script>
      <!-- End Scripts -->
   </body>
</html>

